/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

*:focus {
    box-shadow: 4px 4px 4px;
}

body {
  margin: 40px 20px 40px 20px;
}

.splash, .coffee {
  margin-bottom: 40px;
}

.emoji_dump {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 5% 90%;
  column-gap: 5%;
}

.emoji1{
  grid-row: 1/1;
  grid-column: 1/1;
}

.emoji2{
  grid-row: 2/2;
  grid-column: 1/1;
}

.emoji3{
  grid-row: 3/3;
  grid-column: 1/1;
}

.emoji4{
  grid-row: 4/4;
  grid-column: 1/1;
}

.emoji5{
  grid-row: 5/5;
  grid-column: 1/1;
}

.emoji6{
  grid-row: 6/6;
  grid-column: 1/1;
}

.emoji7{
  grid-row: 7/7;
  grid-column: 1/1;
}

.emoji8{
  grid-row: 8/8;
  grid-column: 1/1;
}

.emojione{
  grid-row: 1/1;
  grid-column: 2/2;
}

.emojitwo{
  grid-row: 2/2;
  grid-column: 2/2;
}

.emojithree{
  grid-row: 3/3;
  grid-column: 2/2;
}

.emojifour{
  grid-row: 4/4;
  grid-column: 2/2;
}

.emojifive{
  grid-row: 5/5;
  grid-column: 2/2;
}

.emojisix{
  grid-row: 6/6;
  grid-column: 2/2;
}

.emojiseven{
  grid-row: 7/7;
  grid-column: 2/2;
}

.emojieight{
  grid-row: 8/8;
  grid-column: 2/2;
}

.skip a{
  background: #f8f8f8;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  top: -50px;
}

.skip a:focus{
  top: 10px;
}

/* TYPOGRAPHY */

@font-face {
  font-family: roundRohan;
  src: url("assets/RoundRohan-Regular.otf") format("opentype");
}

h1{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  /* font-size: 34px; */
}

.h2_maybe{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h3{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

p{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#sixteen{
  font-size: 16px;
}

.problem {
  font-size: 72px;
  text-align: justify;
  text-justify: inter-word;
}


/* .projects p, .progress p{
  font-size: 18px;
} */

.smaller {
  font-size: 12px;
}

.chill {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #919191;
}

.tag{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline;
  padding: 1px 5px;
  border-radius: 10%;
  margin-right: 5px;
}

/* taggies? */

#empathize {
  background-color: #FBD6D5;
}

#ideate {
  background-color: #D8E6E1;
}

#define {
  background-color: #F9EED8;
}

#prototype {
  background-color: #D6E4F8;
}

#test {
  background-color: #DFD6F6;
}

/* NAVBAR */

/* nav {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 12.25%;
} */

nav ul li {
  list-style-type: none;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  font-size: 13px;

  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #919191;
} 

.active {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

.images img{
  width: 100%;
  border-radius: 2%;
}

.button {
  background-color: #919191; /* Green */
  border: none;
  color: white;
  align-items: center;
  padding: 7px 16px;
  border-radius: 6%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.socials {
  display: none;
}

#last {
  /* padding-right: 29%; */
  font-weight: bold;
  color: #000000;
  margin-bottom: 40px;
  text-decoration: none;
  /* font-size: 3.35vw; */
  font-size: 48px;

  font-family: roundRohan;
    -webkit-transition: -webkit-transform 1s ease-in-out;
          transition:         transform 1s ease-in-out;
}

.self {
  font-weight: bold;
  color: #000000;
  font-size: 48px;
  font-family: roundRohan;
}

#last:hover #last:focus{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#blue:hover, #blue:focus {
  color: #0072b1 !important;
  /* font-size: 1.6rem; */
}

#pink:hover, #pink:focus {
  color: #ea4c89 !important;
  /* font-size: 1.6rem; */
}

#green:hover, #green:focus {
  color: #1DB954 !important;
  /* font-size: 1.6rem; */
}

#res:hover, #res:focus {
  /* font-size: 1.6rem; */
  color: #000000;
}

#git:hover, #git:focus {
  /* font-size: 1.6rem; */
  color: #000000;
}

/* WORK */

.projects, .progress {
  display: block;
}

.projects img {
  /* width: 75%; */
  width: 90%;
}

.projects div, .progress div{
  margin-bottom: 40px;
}

.projects h1, .progress h1{
  margin-bottom: 40px;
}

/* ABOUT */
.portrait {
  display: none;
}

footer {
  margin-bottom: 5%;
  text-align: center;
  margin-top: 16.5%;
}

footer ul {
  margin: 0 auto;
  margin-left: 43.5%;
}
 
footer ul li {
  text-decoration: none;
  display: inline;
  padding: 30px;
} 

footer ul li a img {
  width: 40px;
}

footer ul li a:hover {
/*  padding-bottom: 5px;
*/}
  
footer ul {
  margin-left: 35%;
}
/* 
footer {
  margin-top: 125%;
} */
  
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 2rem;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* .paragraph {
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 100px;
  font-family: roundRohan;
  margin-bottom: 175px;
} */

/* p.light {
  font-weight: lighter;
  font-size: 1rem;
  color: #73808D;
  margin-top: -8px;  
  margin-bottom: 40px;
} */

/* LEARN Z INDEX */
/* .projects img{
  transition-duration: .5s;
  transition-timing-function: linear;
  transition-delay: .5s;
} */

/*.projects img::hover {
    overflow: hidden;
    visibility: hidden;
}*/


.wave2 {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 2rem;
  margin-top: 60px;
}
  

/* p.thick5{
  font-size: 3.6vw;
  margin-bottom: 125px;
  font-weight: 550;
  line-height: large;
  font-family: roundRohan;
  letter-spacing: 4px;
  font-weight: 200px;
} */


@media screen and (min-width: 850px) {
  .projects, .progress {
    /* margin-top: -2%;
    margin-left: 11%;
    margin-right: 11%; */
    display: grid;
    column-gap: 10%;
    row-gap: 5.75%;
    grid-template-columns: 1fr 1fr;
  }

  .links {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .socials {
    display: unset;
  }

  .portrait {
    display: unset;
  }

  .horizontal {
    display: none;
  }
  
  .switches {
    display: grid;
    column-gap: 10%;
    grid-template-columns: 1fr 1fr;
  }

  .item1, .itemA, .item_one {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .item3 {
    grid-row: 2/2;
    grid-column: 1/1;
  }

  .item5 {
    grid-row: 3/3;
    grid-column: 1/1;
  }

  .item2, .itemB, .item_two {
    grid-row: 1/1;
    grid-column: 2/2;
  }

  .item4 {
    grid-row: 2/2;
    grid-column: 2/2;
  }

  .item6 {
    grid-row: 3/3;
    grid-column: 2/2;
  }
}